.welcome-banner {
  width: 100%;
  padding: 14rem 2rem;
  background-color: var(--maron);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  &__title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    font-family: var(--font-family-alt);
    z-index: 2;
    line-height: 1.1;
    padding: 0 1rem;
  }

  &__tooth {
    position: absolute;
    bottom: -40px;
    left: 10%;
    width: 8rem;
    transform: rotate(0deg);
    animation: toothMove 2.5s infinite ease-in-out;
    transform-origin: center bottom;
    z-index: 1;
    transition: transform 0.3s;
    @media (max-width: 768px) {
      .welcome-banner {
        padding: 4rem 0.6rem;
      }
      .welcome-banner__title {
        font-size: 2.2rem;
        padding: 0 0.4rem;
      }
      .welcome-banner__tooth {
        width: 4.2rem;
        bottom: -18px;
        left: 5%;
      }
    }
  }
}

@keyframes toothMove {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  25% {
    transform: translateY(-15px) rotate(-8deg);
  }
  50% {
    transform: translateY(0) rotate(0deg);
  }
  75% {
    transform: translateY(-15px) rotate(8deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
